services:
  backend:
    build:
      context: .
      dockerfile: packages/backend/Dockerfile
      target: development
    ports:
      - "3001:3001"
    volumes:
      - .:/app
      - /app/node_modules
      - /app/packages/backend/node_modules
    environment:
      - NODE_ENV=development
      - PORT=3001
      - MONGODB_URI=mongodb://mongo:27017/bg-teach_dev
    depends_on:
      - mongo

  frontend:
    build:
      context: .
      dockerfile: packages/frontend/Dockerfile
      target: development
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
      - /app/packages/frontend/node_modules
    environment:
      - NODE_ENV=development
    depends_on:
      - backend

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  dozzle:
    image: amir20/dozzle:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 8080:8080

volumes:
  mongo-data:
